<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../assets/Home.css">
    <title>Forum</title>
</head>

<body>
    Id = {{ .Id }}
    <p> </p>
    username = {{ .Username }}
    <p> </p>
    password = {{ .Password }}
    <p> </p>
    mail = {{ .Mail }}


    <div>
        <form class="createUser">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username..">

            <label>Password</label>
            <input type="text" name="password" placeholder="Password..">

            <label>Mail</label>
            <input type="text" name="mail" placeholder="Mail..">

            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>