<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../assets/Home.css">
    <title>Forum</title>
</head>

<body>
    <header>
        <img class="logo" src="../assets/img/test/robot.jpg" alt="logo">
        <h1>Open Chat Room</h1>
        <a class="pictureProfil" href="">
            <img class="pictureProfil" src="../assets/img/test/robot.jpg" alt="pp">
        </a>
    </header>
    <nav>
        <ul>
            <a class="btn-nav" href="/"><img class="img-btn-nav" src="../assets/img/test/home.png" alt="home"><span>Accueil</span></a>
            <a class="btn-nav" href="/"><img class="img-btn-nav" src="../assets/img/test/profil.png" alt="profil"><span>Profil</span></a>
        </ul>
        <input class="search-bar" type="text">
    </nav>
    <main>
        <div class="posts">
            <div class="post">
                <div class="content">
                    <div class="user">
                        <img class="userPP" src="../assets/img/test/img1.webp" alt="pp">
                        <h2>Utilisateur</h2>
                    </div>
                    <p class="txt">
                        their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.
                        their default model text, and a search for 'lorem ipsum'.

                        ougvkugmyiqguv ui
                    </p>
                    <div class="likes">
                        <img id="like" src="../assets/img/test/pouces-vers-le-haut.png" alt="like">
                        <img id="dislike" src="../assets/img/test/dislike.png" alt="dislike">
                    </div>
                </div>
                <div class="image">
                    <img src="../assets/img/test/img1.webp" alt="image">
                </div>
                <div class="comments">
                    <div class="titleComment">
                        <h2>Commentaires</h2>
                    </div>
                    <div class="comment">
                        <h3>Utilisateur1</h3>
                        <p>
                            their default model text, and a search for 'lorem ipsum'.
                        </p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="user">
                        <img class="userPP" src="../assets/img/test/robot2.jfif" alt="pp">
                        <h2>Utilisateur</h2>
                    </div>
                    <p class="txt">
                        their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.their default model text, and a search for 'lorem ipsum'.
                        their default model text, and a search for 'lorem ipsum'.

                        ougvkugmyiqguv ui
                    </p>
                    <div class="likes">
                        <img id="like" src="../assets/img/test/pouces-vers-le-haut.png" alt="like">
                        <img id="dislike" src="../assets/img/test/dislike.png" alt="dislike">
                    </div>
                </div>
                <div class="image">
                    <img src="../assets/img/test/robot2.jfif" alt="image">
                </div>
                <div class="comments">
                    <div class="titleComment">
                        <h2>Commentaires</h2>
                    </div>
                    <div class="comment">
                        <h3>Utilisateur1</h3>
                        <p>
                            their default model text, and a search for 'lorem ipsum'.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hashtags">
            <button>#tendances</button>
            <button>#tendances</button>
            <button>#tendances</button>
            <button>#tendances</button>
            <button>#tendances</button>
        </div>
    </main>
</body>

</html>