<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../assets/profil.css">
    <script src="./../assets/profil.js"></script>

    <title>Forum</title>
</head>

<body>
    <header>
        <img class="logo" src="../assets/img/robot.jpg" alt="logo">
        <h1>Open Chat Room</h1>
        <a class="pictureProfil">
            <img class="pictureProfil" src="../assets/img/robot.jpg" alt="pp">
        </a>
    </header>
    <nav>
        <ul>
            <a class="btn-nav" href="/home"><img class="img-btn-nav" src="../assets/img/home.png"
                    alt="home"><span>Accueil</span></a>
            <form method="post" action="/">
                <input class="btn-nav" name="deconnection" type="submit" value="deconnection"
                    src="./assets/img/deconnection.jpg" alt="Déconnection"></input>
            </form>
        </ul>

    </nav>
    <main>
        <div class="profile-card">

            <div class="image">
                <img src="https://tinypic.host/images/2022/12/19/img_avatar.png" alt="" class="profile-img" />
            </div>

            <div class="text-data">

                <span class="name">
                    {{ if .Username }}
                    {{ .Username }}
                    {{ end }}
                </span>
                <span class="mail">
                    {{ if .Mail }}
                    {{ .Mail }}
                    {{ end }}
                </span>
                <span class="descriptionText">
                    {{ if .ProfilDescription }}
                    {{ .ProfilDescription }}
                    {{ end }}
                </span>
            </div>
        </div>
    </main>
    <div class="btn-profil">
        <button id="buttonDescription">Changer votre description</button>
        <button id="buttonPost">Ajouter un post</button>
    </div>
    <!-- Description Modif -->
    <div class="form" id="description">
        <form>
            <div class=" form__group">
                <input type="text" name="description" placeholder="description" class="form__input" />
            </div>
            <input class="btn" type="submit">
            <button class="btn" id="exitDescription">Sortir</button>
        </form>
    </div>
    <!-- Ajout de Post -->
    <div id="addPost" class="addPost">
        <form class="addPostForm" method="post" enctype="multipart/form-data">
            <input type="text" name="ContentPost" id="ContentPost" maxlength="100">
            <input type="file" name="photo" accept=".jpg">
            <input class="btn" id="addPostButton" type="submit" value="addPost">
            <button class="btn" id="exitPost">Sortir</button>
        </form>
    </div>

</body>

<script type="module" src="../assets/profil.js"></script>

</html>