<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../assets/profil.css">
    <script src="./../assets/profil.js"></script>

    <title>Forum</title>
</head>

<body>
    <header>
        <img class="logo" src="../assets/img/test/robot.jpg" alt="logo">
        <h1>Open Chat Room</h1>
        <a class="pictureProfil">
            <img class="pictureProfil" src="../assets/img/test/robot.jpg" alt="pp">
        </a>
    </header>
    <nav>
        <ul>
            <a class="btn-nav" href="/home"><img class="img-btn-nav" src="../assets/img/test/home.png"
                    alt="home"><span>Accueil</span></a>
            <a class="btn-nav" href="/profil"><img class="img-btn-nav" src="../assets/img/test/profil.png"
                    alt="profil"><span>Profil</span></a>
        </ul>
        <input class="search-bar" type="text">
    </nav>
    <main>
        <div class="profile-card">

            <div class="image">
                <img src="https://tinypic.host/images/2022/12/19/img_avatar.png" alt="" class="profile-img" />
            </div>

            <div class="text-data">

                <span class="name">
                    {{ if .Username }}
                    {{ .Username }}
                    {{ end }}
                </span>
                <span class="mail">
                    {{ if .Mail }}
                    {{ .Mail }}
                    {{ end }}
                </span>
                <span class="descriptionText">
                    {{ if .ProfilDescription }}
                    {{ .ProfilDescription }}
                    {{ end }}
                </span>
            </div>
        </div>
    </main>
    <div class="description">
        <button id="buttonDescription">Changer votre description</button>
        <div class="form" id="form">
            <form>
                <div class=" form__group">
                    <input type="text" name="description" placeholder="description" class="form__input" />
                </div>

                <input class="btn" type="submit">
            </form>
        </div>
    </div>
</body>

<script>
    let showDescription = document.getElementById("buttonDescription");

    showDescription.addEventListener("click", () => {
        if (form.style.display == "block") {
            form.style.display = "none";
        } else {
            form.style.display = "block";
        }
    })
</script>

</html>