* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: #ECF8F6; */
    background-image: url(./img/bg_home.png);
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #0D1B2A
}

body::-webkit-scrollbar-thumb {
    background: #415A77;
}

/* Header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35rem;
    width: 100%;
    height: 9.375rem;
    color: #ECF8F6;
    font-size: 1.5rem;
    background-color: #0D1B2A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header .logo,
header .pictureProfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    background-color: #ECF8F6;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: 1.875rem;
    background-color: #1B263B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

nav ul {
    position: relative;
    left: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.688rem;
    height: 100%;
    color: #FEEAA1;
}

nav ul .btn-nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 3.125rem;
    width: 12.5rem;
    gap: 0.75rem;
    border-radius: 5px;
    background-color: #ECF8F6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

nav ul .img-btn-nav {
    height: 2.5rem;
    width: 2.5rem;
}

nav ul .btn-nav span {
    color: #1B263B;
    font-size: 1.5rem;
    font-weight: 600;
}

/*search bar */

nav .search-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    border-radius: 5px;
    background-color: #ECF8F6;
    width: 27rem;
    right: 6rem;
}

/* POSTS */

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
}

.posts .post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 75rem;
    margin-top: 1.875rem;
    background-color: #415A77;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* post content */

.post .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 21.875rem;
    width: 21.875rem;
    margin-left: 3.125rem;
    background-color: #ECF8F6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post .content .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 2rem;
    width: 100%;
    color: #0D1B2A;
}

.post .content .user .userPP {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
}

/* txt */

.post .content .txt {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 12.813rem;
    width: 18.75rem;
    padding: 0.625rem;
}

/*like */

.post .content .likes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
    width: 100%;
}

#like,
#dislike {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.875rem;
    width: 1.875rem;
}

/* post image */

.post .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.125rem;
    height: 22.125rem;
    background-color: #1B263B;
}

.post .image img {
    height: 100%;
    object-fit: cover;
}

/* post comments */

.post .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 21.875rem;
    width: 21.875rem;
    margin-right: 3.125rem;
    background-color: #ECF8F6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post .comments .titleComment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    height: 3.125rem;
    width: 100%;
    background-color: #415A77;
    color: #ECF8F6;
}

.post .comments .comment {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 14rem;
    width: 18.75rem;
    gap: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: 1px;
}

.post .comments .comment::-webkit-scrollbar {
    width: 0;
}

.post .comments #comment {
    height: 1.875rem;
    width: 1.875rem;
}

.post .comments .comment .commentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    gap: 0.5rem;
    border-bottom: 1px solid #0D1B2A;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}



/* hashtag */

.hashtags {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 5px;
    margin: 1.875rem 6rem 0 6rem;
    width: 27rem;
    background-color: #1B263B;
    color: #FEEAA1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hashtags button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 20rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color: #ECF8F6;
    border-radius: 5px;
}

/* ADD COMMENT */

.post .addCommentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 0;
    height: 3.125rem;
    width: 100%;
    background-color: #415A77;
    color: #ECF8F6;
}

.post .addCommentForm #ContentComment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 90%;
    margin: 0.1rem;
    padding: 0.1rem;
    background: none;
    border: none;
    color: #ECF8F6;
}

.post .addCommentForm .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: 0.1rem;
    padding: 0.1rem;
    background-color: #415A77;
    color: #ECF8F6;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.post .addCommentForm #ContentComment::placeholder {
    color: #ECF8F6;
}