* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ECF8F6;
}

/* Header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35rem;
    width: 100%;
    height: 9.375rem;
    color: #ECF8F6;
    font-size: 1.5rem;
    background-color: #18534F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .logo,
header .pictureProfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ECF8F6;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: 1.875rem;
    background-color: #226D68;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    position: relative;
    left: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.688rem;
    height: 100%;
    color: #FEEAA1;
}

nav ul .btn-nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    width: 12.5rem;
    gap: 0.75rem;
    border-radius: 5px;
    background-color: #ECF8F6;
}

nav ul .img-btn-nav {
    height: 2.5rem;
    width: 2.5rem;
}

nav ul .btn-nav span {
    color: #226D68;
    font-size: 1.5rem;
    font-weight: 600;
}

/*search bar */

nav .search-bar {
    position: relative;
    left: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    width: 20rem;
    border-radius: 5px;
    background-color: #ECF8F6;
}

/* profil */


.profile-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 50vw;
    width: 100%;
    background: #fff;
    margin-top: 10vh;
    margin-bottom: 4vh;
    border-radius: 24px;
    padding: 3vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #226D68;
}

.image {
    position: relative;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #226D68;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    margin: 1vw;
    margin-top: 0vw;
    font-size: 2.3vw;
    font-weight: 500;
}

.text-data .mail {
    font-size: 1.5vw;
    font-weight: 400;
}

.text-data .descriptionText {
    margin: 1vw;
    font-size: 1.7vw;
    font-weight: 400;
}

/* DESCRIPTION */

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ECF8F6;
    margin-bottom: 4vh;
}

#buttonDescription {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 10vw;
    margin-right: 40vw;
    border-radius: 5px;
    background-color: #ECF8F6;
    color: #226D68;
    font-size: 1vw;
    font-weight: 2vw;
    border-color: white;
}

#form {
    display: none;
    align-items: center;
    justify-content: center;
}


.form__input {
    margin-top: 1vh;
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    font-size: 1vw;
    font-weight: 2vw;

    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn {
    margin-top: 1vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 10vw;
    margin-right: 40vw;
    border-radius: 5px;
    background-color: #ECF8F6;
    color: #226D68;
    font-size: 1vw;
    font-weight: 2vw;
    border-color: white;
}